<br><br><br><b><br><br>
<div class="recupero-password-form">
    <h2>Recupero Password</h2>
  
    <p>Inserisci la nuova password:</p>
  
    <form (submit)="resetPassword()">
      <label>Nuova Password:</label>
      <input type="password" [(ngModel)]="newPassword" name="newPassword" required>
  
      <label>Conferma Password:</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
  
      <button type="submit">Reimposta Password</button>
    </form>
  </div>
  