<!--INFORMAZIONI-->

<div class="d-flex bg-facebook">
  <div class="container text-center mt-4">
    <i class="text-white fa-solid fa-lg" ><fa-icon [icon]="faTruck"></fa-icon></i><br>
    <span class="text-white"><b>Spedizione Gratuita</b></span><br>
    <span class="text-white">oltre i 139€</span>
  </div>

  <div class="container text-center mt-4">
    <i class="text-white fa-solid fa-lg"><fa-icon [icon]="faClock"></fa-icon></i><br>
    <span class="text-white"><b>Consegna</b></span><br>
    <span class="text-white">in 24/48h</span><br><br>
  </div>

  <div class="container text-center mt-4">
    <i class="text-white fa-solid pointer fa-lg text-center"><fa-icon [icon]="faArrowPointer"></fa-icon></i><br>
    <span class="text-white"><b>Click & Ritiro</b></span><br>
    <span class="text-white">in negozio</span><br><br>
  </div>

  <div class="container text-center mt-4">
    <i class="text-white fa-solid  fa-lg "><fa-icon [icon]="faShieldHalved"></fa-icon> </i><br>
    <span class="text-white"><b>Da 31 anni</b></span><br>
    <span class="text-white">nel settore</span><br><br>
  </div>

  <div class="container text-center mt-4">
    <i class="text-white fa-solid fa-lg"><fa-icon [icon]="faPhoneVolume"></fa-icon> </i><br>
    <span class="text-white"><b>StrumentArte</b></span><br>
    <span class="text-white"> 0832/435263</span><br><br>
  </div>

  <div class="container text-center mt-4">
    <i class="text-white fa-solid fa-lg"><fa-icon [icon]="faCreditCard"></fa-icon></i><br>
    <span class="text-white"><b>Pagamenti online</b></span><br>
    <span class="text-white">semplici e sicuri</span>
  </div>
</div>

<!--FOOTER-->

<footer class="bg-dark text-center text-white">
  <img src="assets/images/Logo.png" width="300" alt="">

  <div class="container p-4 pb-0">

    <!-- Section: Social media -->

    <section class="mb-4">

      <!-- Facebook -->
      <a class="btn text-white btn-floating m-1 bg-facebook" href="#!" role="button"><fa-icon [icon]="faFacebookF"></fa-icon></a>

      <!-- Twitter -->
      <a class="btn text-white btn-floating m-1 bg-twitter" href="#!" role="button"><fa-icon [icon]="faTwitter"></fa-icon></a>

      <!-- Google -->
      <a class="btn text-white btn-floating m-1 bg-google" href="#!" role="button"><fa-icon [icon]="faGoogle"></fa-icon></a>

      <!-- Instagram -->
      <a class="btn text-white btn-floating m-1 bg-instagram" href="#!" role="button"><fa-icon [icon]="faInstagram"></fa-icon></a>

      <!-- Linkedin -->
      <a class="btn text-white btn-floating m-1 bg-linkedin " href="#!" role="button"><fa-icon [icon]="faLinkedin"></fa-icon></a>

    </section>
      <!-- Section: Social media -->
  </div>


  <!-- Section: Text -->
  <section class="mb-4">
    <p class="fw-light small"> TASSO ZERO YAMAHA (DISPONIBILE IN PUNTO VENDITA) <br>
      Messaggio pubblicitario con finalità promozionale. Offerta di credito finalizzato a Tasso Zero valida dal
      01/01/2023 al 31/12/2023 in 20 mesi per i seguenti prodotti: Pianoforti Digitali e Tastiere, Strumenti a fiato,
      Archie e Percussioni da 1000€ a 10.000€ come da esempio rappresentativo: prezzo del bene €2.000, Tan fisso 0%,
      Taeg 0% in 20 rate da 100€, costi accessori dell'offerta azzerati. Importo totale del credito €2.000. Importo
      dovuto dal consumatore €2.000. Per i trimestri successivi fare riferimento alle informazioni europee di base sul
      credito ai consumatori. Al fine di gestire le tue spese in modo responsabile e di conoscere eventuali altre
      offerte disponibili, Findomestic ti ricorda prima di sottoscrivere il contratto, di prendere visione di tutte le
      condizioni economiche e contrattuali facendo riferimento alle Informazioni Europee di Base sul Credito ai
      Consumatori (IEBCC) presso il punto vendita. Salvo approvazione di Findomestic Banca S.p.A. per cui "Lucky Music
      Network Srl" opera quale intermediario del credito non in esclusiva. </p>
  </section>
  <!-- Section: Text -->

  <!-- Section: Links -->

    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Scopri di più</h5>
        <hr class="text-Brown">

        <ul class="list-unstyled mb-0 ">
          <li>
            <a href="#!" class="text-white text-decoration-none">Chi siamo</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Assitenza</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Orari</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">FAQ</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Categorie</h5>
        <hr class="text-Brown">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white text-decoration-none">Chitarre e Bassi</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Tastiere</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Batterie e Percussioni</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Microfoni</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Informazioni</h5>
        <hr class="text-Brown">

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white text-decoration-none">Pagamenti e Spedizioni</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Cookies</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Privacy</a>
          </li>
          <li>
            <a href="#!" class="text-white text-decoration-none">Istruzioni e condizioni di vendita </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">StrumentArte</h5>
        <hr class="text-Brown">

        <ul class="list-unstyled mb-0">
          <li class="text-white">Via Carlo Pippo, 1, 73100 - Lecce</li>
          <li class="text-white">P.IVA 13095470150</li>
          <li class="text-white">TEL.: 0832/435263</li>
          <li class="text-white">info@strumentarte.it</li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

  <!-- Section: Links -->

  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>