<!--SECTION CHI SIAMO-->

<div class="container px-4 py-5" id="chi-siamo">
    <h2 class="pb-2 text-center">CHI SIAMO</h2>
    <hr class="text-gray">
    <div class="container px-4 py-5 bg-gradient" id="custom-cards">
      <div class="row ">
        <div class="col-md-7 order-md-2 ">
          <p class="lead"><i>Benvenuti da StrumentArte,<br>
              un luogo dove la passione per la musica prende vita. Siamo qui per offrirvi un'esperienza unica nel mondo
              della musica, fornendo strumenti di alta qualità, consigli esperti e un servizio personalizzato. <br><br>
              Chi siamo? Siamo un team di appassionati di musica, musicisti e professionisti dell'industria che credono
              nel potere trasformativo della musica. <br>
              Sappiamo quanto sia importante trovare lo strumento giusto per esprimere la vostra creatività e
              ispirazione. Che siate principianti o musicisti esperti, siamo qui per accompagnarvi in ogni fase del
              vostro percorso musicale. <br>
              In oltre 30 anni di attività StrumentArte è cresciuta fino a diventare uno dei centri più all'avanguardia
              degli strumenti musicali. <br>
              Dalla prima sede presso in via Carlo Pippo 1, Lecce, StrumentArte offre una vastissima scelta tra
              batterie, chitarre, bassi, DJ, luci, tastiere e audio professionale. <br>
              Professionisti ma non solo: serietà, competenza e professionalità dello staff sono al servizio del
              musicista, dall’amatore al professionista. <br><br>
              Non solo un negozio fisico: online troverete un’offerta di oltre 30000 prodotti in un sito completamente
              rinnovato nella grafica e nell’usabilità, pronto ad offrire agli utenti un’esperienza di acquisto sempre
              più affidabile, piacevole e innovativa.
              Scopri tutti gli artisti e i produttori che si sono rivolti a noi!</i></p>
          <a href="#" class="btn bg-facebook btn-lg btn-blocks border-white text-white">Scopri di più</a>
        </div>
        <div class="col-md-5">
          <img src="assets/images/neg1.jpg" class="img-fluid" width="480px">
        </div>
      </div>
    </div>
  </div>

