<div id="carouselExample" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active bg-gray"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" class="bg-gray"
            aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner container px-4 py-5 ">
        <h2 class="pb-2 text-center">MARCHI</h2>
        <hr class="text-gray">
        <div class="carousel-item active   ">
            <div class="row">
                <div
                    class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/re.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/sonor (2).png" class="w-100" alt="">
                        </div>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/c.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/yam.png" class="w-100" alt="">
                        </div>
                    </div>
                </div> 
            </div>
            <br>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/b.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>

                <div
                    class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/sonor (2).png" class="w-100" alt="">
                        </div>
                    </div>
                </div>
             

                <div class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/r.png" class="w-100" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-6 d-flex flex-column align-items-center justify-content-center product-item">
                    <div class="product-car">
                        <div class="product-image">
                            <img src="assets/images/k.png" class="w-100"  alt="">
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <button class="carousel-control-prev fa-xl fa-rotate-180" type="button" data-bs-target="#carouselExample"
        data-bs-slide="prev"><fa-icon class="text-white" [icon]="faArrowRight"></fa-icon>
    </button>

    <button class="carousel-control-next fa-xl" type="button" data-bs-target="#carouselExample"
        data-bs-slide="next"><fa-icon class="text-white" [icon]="faArrowRight"></fa-icon>
    </button>

</div>