<!--SECTION DICONO DI NOI-->

<div class="container " id="custom-cards">
    <h2 class="pb-2 text-center">DICONO DI NOI...</h2>
    <hr class="text-beige">
    <div class="container bg-gradient" id="custom-cards">
      <div class="row  mb-auto justify-content-center">

        <div class="col-2 card card-hover card-measure ">
          <img src="assets/images/Progetto senza titolo.png" class="card-img-top" alt="" />
          <div class="card-body">
            <h4 class="text-center"><b>Giulia M.</b></h4>
            <p class="card-text"> E' il mio punto di riferimento per strumenti e attrezzature di cui ho bisogno! Super
              fornito!</p>
          </div>
        </div>

        <div class=" col-2 card card-hover card-measure" >
          <img src="assets/images/Progetto senza titolo (1).png" class="card-img-top w-100" alt="" />
          <div class="card-body">
            <h4 class="text-center"><b>Marco F.</b></h4>
            <p class="card-text">Cortesia e professionalità. Trovo sempre tutto quello che mi serve! Straconsigliato!
            </p>
          </div>
        </div>

        <div class="col-2 card card-hover card-measure " >
          <img src="assets/images/Progetto senza titolo (2).png" class="card-img-top" alt="" />
          <div class="card-body">
            <h4 class="text-center"><b>Rita G.</b></h4>
            <p class="card-text">Ampia scelta di tutta la strumentazione possibile. Ormai la mia seconda casa!</p>
          </div>
        </div>

        <div class=" col-2 card card-hover card-measure">
          <img src="assets/images/Progetto senza titolo (3).png" class="card-img-top" alt="" />
          <div class="card-body">
            <h4 class="text-center"><b>Andrea L.</b></h4>
            <p class="card-text">Ho recentemente scoperto StrumentArte, un vero paradiso per gli appassionati di musica
              e strumenti musicali. Sono rimasto immediatamente colpito dalla vasta selezione di prodotti di qualità.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br><br>
  

