.bg-beige {
    background-color: $beige !important;
}

.bg-facebook {
    background-color: $facebook !important;
}

.bg-twitter {
    background-color: $twitter !important;
}

.bg-google {
    background-color: $google !important;
}

.bg-instagram {
    background-color: $instagram !important;
}

.bg-linkedin {
    background-color: $linkedin !important;
}


.bg-brown {
    background-color: $brown !important;
}

.bg-gray {
    background-color: $gray !important;
}

.text-brown {
    color: $brown !important;
}


.text-beige {
    color: $beige !important;
}