// scss-docs-end theme-color-variables
$gray-theme: #cccc;
$brown: #89542b;
$beige: #95744b;
$facebook: #3b5998;
$twitter: #55acee;
$google: #dd4b39;
$instagram: #ac2bac;
$linkedin: #0082ca;
$gray: #cccc;

//variabili

$primary: black;

//Footer

$color-facebook: #3b5998;

$color-twitter: #55acee;

$color-google: #dd4b39;

$color-instagram: #ac2bac;

$color-linkedin: #0082ca;

$color-github: #333333;