<div class="d-flex">
    <video autoplay loop muted class="w-100 img-fluid"  oncanplay="this.play()" onloadedmetadata="this.muted = true" >
        <source src="assets/videos/video1.mp4" type="video/mp4">
    </video>
</div>

<div class="cointainer">
    <app-carousel-home></app-carousel-home>
</div>

<!--INFORMAZIONI-->

<div class="d-flex">
    <div class="container text-center mt-4">
      <i class="text-white fa-solid fa-lg" ><fa-icon [icon]="faTruck"></fa-icon></i><br>
      <span class="text-white"><b>Spedizione Gratuita</b></span><br>
      <span class="text-white">oltre i 139€</span>
    </div>
  
    <div class="container text-center mt-4">
      <i class="text-white fa-solid fa-lg"><fa-icon [icon]="faClock"></fa-icon></i><br>
      <span class="text-white"><b>Consegna</b></span><br>
      <span class="text-white">in 24/48h</span><br><br>
    </div>
  
    <div class="container text-center mt-4">
      <i class="text-white fa-solid pointer fa-lg text-center"><fa-icon [icon]="faArrowPointer"></fa-icon></i><br>
      <span class="text-white"><b>Click & Ritiro</b></span><br>
      <span class="text-white">in negozio</span><br><br>
    </div>
  
    <div class="container text-center mt-4">
      <i class="text-white fa-solid  fa-lg "><fa-icon [icon]="faShieldHalved"></fa-icon> </i><br>
      <span class="text-white"><b>Da 31 anni</b></span><br>
      <span class="text-white">nel settore</span><br><br>
    </div>
  
    <div class="container text-center mt-4">
      <i class="text-white fa-solid fa-lg"><fa-icon [icon]="faPhoneVolume"></fa-icon> </i><br>
      <span class="text-white"><b>StrumentArte</b></span><br>
      <span class="text-white"> 0832/435263</span><br><br>
    </div>
  
    <div class="container text-center mt-4">
      <i class="text-white fa-solid fa-lg"><fa-icon [icon]="faCreditCard"></fa-icon></i><br>
      <span class="text-white"><b>Pagamenti online</b></span><br>
      <span class="text-white">semplici e sicuri</span>
    </div>
  </div> <br><br>



<div class="cointainer">
    <app-primo-piano></app-primo-piano>
</div>

<div class="cointainer">
  <app-carousel-marchi></app-carousel-marchi>
</div>

<div class="cointainer">
  <app-chi-siamo></app-chi-siamo>
</div>


<div class="cointainer">
    <app-info></app-info>
</div>

<div class="cointainer">
    <app-about-us></app-about-us>
</div>





