@import '../../../scss/variables';
.card-hover {
    transition: transform 0.3s;
  }
  
  
  .card-hover:hover {
    transform: scale(1.1);
  }


  .card-measure {
    width: 30rem;
    margin: 50px;
  }
  
  