<!--SECTION PRIMO PIANO-->

<div class="container  px-4 py-5">
  <h2 class="pb-2 text-center">PRIMO PIANO</h2>
  <hr>
  <div class="row">
    <div class="col-4 card ">
      <img src="assets/images/settore.png" class="card-img-top" alt="" />
      <div class="card-body">
        <h4 class="text-center"><b>NEL SETTORE DA OLTRE 32 ANNI</b></h4>
        <p class="card-text text-center ">Affidati alla professionalità, serietà e competenza dello staff di
          StrumentArte <br></p>
      </div>
    </div>
    <div class=" col-4 card ">
      <img src="assets/images/spedizione.png" class="card-img-top w-100" alt="" />
      <div class="card-body">
        <h4 class="text-center"><b>SPEDIZIONE GRATUITA < 139€ </b>
        </h4>
        <p class="card-text text-center">Spedizione grartuita oltre i 139€ e consegna in 24/48h in tutta Italia</p>
      </div>
    </div>
    <div class=" col-4 card">
      <img src="assets/images/PRODOTTI (3) (1) (1).png" class="card-img-top w-100" alt="" />
      <div class="card-body">
        <h4 class="text-center"><b>PRODOTTI PROFESSIONALI</b></h4>
        <p class="card-text text-center">Esplora un nuovo livello di perfezione musicale con i nostri prodotti di
          qualità</p>
      </div>
    </div>

  </div>
</div>

<!--<h2 class="pb-2 text-center">PRIMO PIANO</h2>
<div class="container">
  <div class="row p-0 ">
    <div class="col-6">
      <img src="assets/images/PRODOTTI.png" class="w-100 h-100" alt="">
    </div>
    <div class="col-6">
      <img src="assets/images/settore.png" class="w-100 mb-4" alt="">
      <img src="assets/images/spedizione.png" class="w-100" alt="">
    </div>
  </div>
</div>-->